body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:544px;
}
#u74_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:544px;
  overflow:auto;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:534px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:534px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:177px;
  width:159px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:176px;
  width:300px;
  height:25px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:259px;
  width:124px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:258px;
  width:300px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:365px;
  width:140px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:10px;
  text-decoration:underline;
  text-align:center;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:283px;
  width:156px;
  height:13px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:10px;
  text-decoration:underline;
  text-align:center;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:219px;
  width:520px;
  height:29px;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  white-space:nowrap;
}
